.talent-activity-applied-jobs {
    width: 100%;
    padding: 10rem 25rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.section-wrapper {
    width: 75%;
}

/* ============== Title Heading ==================== */

.title-heading h1 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.title-heading h1 span {
    color: var(--primarycolor);
}
.title-heading p {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 1rem;
    line-height: 2.5rem;
}
/* ============== Title Heading ==================== */

/* ============== Upper Nav Wrapper ==================== */
.upper-nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

#nav {
    width: 20rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav a {
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
}

.nav-freelances a::before {
    position: absolute;
    width: 0;
    content: "";
    height: 0.3rem;
    background-color: var(--primarycolor);
    bottom: 0;
    transition: width 0.3s;
}

.nav-freelances a:hover::before {
    width: 100%;
}

.active {
    border-bottom: 3px solid var(--primarycolor);
}

/* ============== Upper Nav Wrapper ==================== */

/* ============== My Activity Applied Job Content Wrapper ==================== */

.my-activity-applied-job-content-wrapper {
    width: 100%;
    height: fit-content;

    margin: 5rem 0;
}

.applied-job-content-item {
    position: relative;

    width: 100%;
    height: fit-content;

    background-color: var(--light-grey-color2);
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.4rem 0.8rem rgb(0, 0, 0, 0.5);
    color: black;

    padding: 1rem 0;
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-learner {
    width: 25%;
    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-learner-image-wrapper {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-learner-image {
    width: 70%;
    height: 100%;
}

.profile-learner-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 50%;
}
.profile-learner-role-wrapper {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-learner-role {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    color: var(--primarycolor);
}

.content-wrapper {
    width: 75%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.learner-name {
    width: 100%;

    font-size: 2rem;
    display: flex;
    align-items: center;
}
.package-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-title,
.project-description,
.duration,
.price-range {
    width: 100%;
    display: flex;
    height: fit-content;
}
.title_wrapper {
    width: 25%;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.title_wrapper h3 {
    font-size: 1.6rem;
    font-weight: 500;
}
.content {
    width: 75%;
    height: fit-content;
}
.content p {
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 1%;
}

.offer-wrapper {
    width: 100%;
}

.progress-status {
    position: absolute;
    right: 2%;
    top: 5%;
}

.progress-status h3 {
    font-size: 1.4rem;
    font-weight: 500;
}
.progress-status span {
    width: fit-content;
    height: fit-content;
    background-color: var(--primarycolor);
    color: white;
    padding: 0.2rem;
    border-radius: 0.5rem;
}
/* ============== My Activity Applied Job Content Wrapper ==================== */
.chat-btn {
    position: absolute;
    width: 10rem;
    height: 4rem;

    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 1rem;
}
.chat-btn a {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primarycolor);

    display: flex;
    justify-content: center;
    align-items: center;
}
