/* Section Home Guest */

.home-guest {
    width: 100%;
    height: 100vh;
    background: url("/images/home/learner.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.home-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("/images/home/home-vector.png") no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes dissolve {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.home-banner-text {
    position: absolute;
    width: 50%;
    height: 65%;
    bottom: 0;
    left: 0;
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-text-greeting {
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: var(--white-color);
    visibility: hidden;
    opacity: 0;
    animation: dissolve 0.5s 1s forwards;
}

.home-banner-heading {
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 8rem;
    font-weight: 900;
    color: var(--white-color);
    letter-spacing: 0.6rem;
    visibility: hidden;
    opacity: 0;
    animation: dissolve 1s 1.5s forwards;
}

.home-text-paragraph {
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 2rem;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
    color: var(--white-color);
    visibility: hidden;
    opacity: 0;
    animation: dissolve 1.5s 2s forwards;
}

/* End Of Section Home Guest */

/* Section Course Guest */

.course-guest {
    width: 100%;
    height: 90vh;
    background: url("/images/course/asset-bg.png") no-repeat;
    background-size: cover;
}

.course-wrapper {
    width: 100%;
    height: 100%;
    padding: 10rem 25rem;
}

.coure-guest-header {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-guest-heading {
    font-family: "Roboto";
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    word-spacing: 0.6rem;
    color: var(--primarycolor);
}

.course-guest-paragraph {
    font-family: "Roboto";
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    color: var(--primarycolor);
    font-weight: 500;
}

.course-content {
    position: relative;
    width: 100%;
    height: 80%;
}

.swiper {
    width: 100%;
    height: 100%;
}

#swiperWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#card-slide {
    width: 35rem;
    height: 45rem;
    border-radius: 2rem;
    transition: background-color 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 200;
    cursor: pointer;
}

#card-slide:hover {
    /* box-shadow: 0.2rem 0.4rem 1rem var(--light-grey-color); */
    background-color: rgb(209, 209, 209);
}

.course-card-image {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border-radius: 2rem 2rem 0 0;
}

.course-card-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}

.course-text-content {
    width: 100%;
    height: 50%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.course-title {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: black;
}
.course-category {
    width: max-content;
    height: max-content;
    color: #df9627;
    background-color: transparent;
    border: 1px solid #df9627;
    border-radius: 10rem;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    letter-spacing: 0.1rem;
}

.course-author {
    font-size: 1.5rem;
    color: var(--light-grey-color);
}

.course-rating {
    display: flex;
    align-items: center;
}

.course-rating i {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: #df9627;
}

.course-rating h4 {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #df9627;
    font-weight: 800;
}

.course-price {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    color: var(--primarycolor);
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(71, 71, 71, 0.5);
}

#swiper-btn-next {
    position: absolute;
    right: -8rem;
    color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: all 0.2s;
}
#swiper-btn-next:hover {
    color: white;
    background-color: black;
}

#swiper-btn-prev {
    left: -8rem;
    position: absolute;
    color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: all 0.2s;
}
#swiper-btn-prev:hover {
    color: white;
    background-color: black;
}

/* End Of Section Course Guest */

/* Popular Sub Course */

.popular-sub-course-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/images/course/asset-bg.png") no-repeat;
    background-size: cover;
    padding: 10rem 25rem;
}

.popular-sub-course-heading {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.popular-sub-course {
    font-family: "Roboto";
    font-size: 2.8rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: var(--primarycolor);
}

.popular-sub-course-content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-sub-course-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.popular-sub-course-links {
    width: 30rem;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    margin: 1.5rem;
    background-color: rgba(236, 233, 233);
    border: 1px solid var(--light-grey-color);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: all 0.1s;
}

.popular-sub-course-links:hover {
    color: white;
    background-color: var(--primarycolor);
    border: none;
}

/* Popular Sub Course */

/* Popular Talent */
.popular-talent-wrapper {
    width: 100%;
    height: fit-content;
    padding: 10rem 25rem;
}
.popular-talent-heading {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.popular-talent {
    font-family: "Roboto";
    font-size: 2.8rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: var(--primarycolor);
}

.popular-talent-content {
    width: 100%;
    height: 80%;
}

.popular-talent-cards {
    display: flex;
    height: 100%;
}

#popular-talent-card {
    background-color: var(--primarycolor);
    width: 30rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
    color: white;
    transition: color 0.2s;
}

#popular-talent-card:hover {
    opacity: 0.8;
}

.popular-talent-card-image {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}
.popular-talent-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.popular-talent-name {
    font-size: 2.3rem;
}

.popular-talent-topic {
    margin-top: -1.5rem;
}

.popular-talent-topic ul {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.popular-talent-topic ul li {
    text-align: center;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.1rem;
    padding: 0 0.3rem;
}

.popular-talent-rating {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    color: #ffb547;
}

.popular-talent-sum-courses,
.popular-talent-sum-tutoring {
    font-size: 2rem;
    font-weight: 500;
}

.popular-talent-sum-courses span,
.popular-talent-sum-tutoring span {
    font-weight: 100;
}

.talentSwiper {
    position: relative;
}

#talentSwiperWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#swiper_pagination {
    display: none;
}

/* Popular Talent */
