.talent-profile-course {
    width: 100%;
    height: fit-content;
}

.talent-profile-course-header {
    width: 100%;
}

.talent-profile-course-header-wrapper {
    width: 100%;
    height: 100vh;
    padding: 5rem 35rem;
    display: flex;
    justify-content: space-evenly;
}

.left-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.talent-profile-course-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.talent-profile-course-image {
    width: 30rem;
    height: 30rem;
    /* border-radius: 50%; */
}

.talent-profile-course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.talent-profile-course-socials {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.socials-media {
    width: 30rem;
    height: 5rem;
    font-size: 1.8rem;
    color: black;
    margin: 0.5rem;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.socials-media:hover {
    background-color: var(--primarycolor);
    border: none;
    color: white;
}
.socials-media i {
    margin-right: 1rem;
}

.right-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.talent-profile-course-wrapper {
    width: 100%;
}

.talent-profile-course-wrapper > h1,
.talent-profile-course-wrapper > h2,
.talent-profile-course-wrapper > div {
    margin: 0.5rem 0;
}

.talent-profile-course-name {
    font-family: "PT Serif", serif;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: black;
}

.talent-profile-course-description {
    font-family: "Baloo 2", cursive;
    font-size: 2rem;
}

.talent-profile-course-job {
    width: 100%;
    height: fit-content;
}

.talent-profile-course-job > h2 {
    font-family: "Baloo 2", cursive;
    font-size: 1.8rem;
    width: fit-content;
    background-color: var(--primarycolor);
    color: white;
    padding: 0.1rem 0.8rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

.talent-profile-course-job > ul {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.talent-profile-course-job > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.talent-profile-course-job > ul > li > i {
    font-size: 0.6rem;
    margin-right: 0.3rem;
}

.talent-profile-course-rating-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
}

.talent-profile-course-rating-wrapper > div {
    width: 20rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.talent-profile-course-rating-wrapper > i {
    width: 10rem;
    height: 8rem;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--orange);
}

.talent-profile-course-rating-wrapper > div > h3 {
    font-size: 1.8rem;
    color: var(--primarycolor);
}

.talent-profile-course-rating-wrapper > div > h2 {
    font-size: 3rem;
    margin-left: 1rem;
    color: black;
}

.talent-profile-course-students {
    margin: 0 1rem;
}

.talent-profile-course-about {
    width: 100%;
}
.talent-profile-course-about > h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    margin: 1rem 0;
}
.talent-profile-course-about > p {
    font-family: "Baloo 2", cursive;
    font-size: 1.8rem;
    text-align: justify;
    font-weight: 200;
    line-height: 3rem;
    text-indent: 5rem;
}

/* Talent Profile Course Content */

.talent-profile-course-content {
    width: 100%;
}

.talent-profile-course-content-wrapper {
    width: 100%;
    height: 100%;
    padding: 5rem 35rem;
}

.talent-profile-course-content-wrapper > h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
}

.topic-course-content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
}

.topic-course-item {
    width: 100%;
    height: 20rem;
    border-radius: 2rem;
    transition: background-color 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1rem 0;
    cursor: pointer;
    display: flex;
}
.topic-course-item:hover {
    background-color: rgb(209, 209, 209);
}

.topic-course-image {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-course-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topic-course-text-content {
    width: 50%;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic-course-text-content > h2,
.topic-course-text-content > h3,
.topic-course-text-content > div {
    margin: 0.6rem 0;
}

.topic-course-title {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: black;
}
.topic-course-category ul {
    display: flex;
    flex-wrap: wrap;
}
.topic-course-category ul li {
    width: max-content;
    height: max-content;
    color: #df9627;
    background-color: transparent;
    border: 1px solid #df9627;
    border-radius: 10rem;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.topic-course-author {
    font-size: 1.5rem;
    color: var(--light-grey-color);
}

.topic-course-rating {
    display: flex;
    align-items: center;
}

.topic-course-rating i {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: #df9627;
}

.topic-course-rating h4 {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #df9627;
    font-weight: 800;
}

.topic-course-price {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    color: var(--primarycolor);
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(71, 71, 71, 0.5);
}

/* Talent Profile Course Content */

/*  */
