.profile-page {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 10rem 25rem;
}
.profile-page-wrapper {
    width: 75%;
    height: fit-content;
}

/* ===================== Profile Page Heading ======================= */
.profile-page-heading {
    margin-bottom: 5rem;
}

.profile-page-heading h1 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: var(--primarycolor);
}
/* ===================== Profile Page Heading ======================= */

/* ===================== Profile Page Content ======================= */
.profile-page-content {
}

.profile-page-content form {
    padding: 5rem 15rem;
    background-color: var(--light-grey-color2);
    border-radius: 1rem;
}

/* === Profile Picture === */
.profile-picture input[type="file"] {
}

.profile-picture label {
    height: 50%;
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
}

.profile-picture-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 5rem;
}
.picture-wrapper {
    width: 10rem;
    height: 10rem;
}
.picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.file-input [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

.file-input [type="file"] + label {
    height: 3rem;
    width: 15rem;
    background: var(--primarycolor);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 100;
    outline: none;
    padding: 1rem;
    transition: all 0.3s;
}

.file-input [type="file"] + label:hover {
    background-color: var(--deepblue);
}

/* === Profile Picture === */

/* === Profile Text Content === */

.profile-text-content > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.profile-text-content > div > label {
    height: 50%;
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
}
.profile-text-content > div > input {
    height: 50%;
    font-size: 1.5rem;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}
/* === Profile Text Content === */

/* === Update Btn Wrpaper === */

.update-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-button {
    margin-top: 2rem;
    font-family: "Baloo 2";
    width: 40%;
    height: 4rem;
    background-color: var(--primarycolor);
    color: var(--white-color);
    border-radius: 2rem;
    border: none;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

.update-button:hover {
    background-color: var(--deepblue);
}
/* === Update Btn Wrpaper === */
/* ===================== Profile Page Content ======================= */
