.create-thread-page-learner {
    width: 100%;
    height: fit-content;
    padding: 10rem 25rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 75%;
}

.thread-page-learner-header {
    width: 100%;
}

.thread-page-learner-header h1 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.thread-page-learner-header p {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 1rem;
}

.create-thread-page-learner-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    border-radius: 1rem;
    margin: 4rem 0 2rem 0;
}

/* Profile Learner */

.profile-learner {
    position: relative;
    width: 20%;
    height: 30rem;
}

.profile-learner-wrapper {
    position: absolute;
    height: 70%;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-learner-image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-learner-image {
    width: 20rem;
    height: 100%;
    border-radius: 50%;
}

.profile-learner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-learner-role-wrapper {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.profile-learner-role {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    color: var(--primarycolor);
}

/* Profile Learner */

/* Learner Thread Content */

.learner-thread-content {
    width: 80%;
    padding: 2rem;
    height: fit-content;
}

.learner-thread-name h3 {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--primarycolor);
}

.learner-thread-content form {
    width: 100%;
    height: fit-content;
}

.learner-thread-content form > div {
    margin-bottom: 1rem;
}

.learner-thread-project-title {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.learner-thread-project-title h3 {
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.learner-thread-project-title input {
    width: 100%;
    height: 50%;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

.learner-thread-description {
    width: 100%;
}
.learner-thread-description > h3 {
    height: 3.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learner-thread-description textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 10rem;
    max-height: 10rem;
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
}

.learner-thread-skills-required {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.learner-thread-skills-required h3 {
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.learner-thread-skills-required input {
    width: 100%;
    height: 50%;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

.learner-offered-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.learner-offered-wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.learner-offered-wrapper > div > h3 {
    font-size: 1.6rem;
    font-weight: 600;
    height: 50%;
    display: flex;
    align-items: center;
}

.learner-offered-wrapper > div > input {
    width: 100%;
    height: 50%;
    font-size: 1.6rem;
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
}

.offered-duration {
    width: 35%;
}
.offered-duration h3 span {
    font-size: 1.4rem;
    font-weight: 400;
    color: red;
    margin-left: 0.5rem;
}

.offered-duration select {
    width: 100%;
    height: 3.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
}

.offered-price {
    width: 60%;
}

.price {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price > div {
    display: flex;
    align-items: center;
}

.price > div > span {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: rgb(168, 167, 167);
    font-size: 1.8rem;
    border-radius: 1rem 0 0 1rem;
}
.price > div > input {
    width: 85%;
    height: 100%;
    border: none;
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 0 1rem 1rem 0;
}

.learner-offered-wrapper > div:nth-child(3) {
    opacity: 0;
    visibility: hidden;
}

.post-thread-btn {
    position: relative;
    width: 100%;
    height: 5rem;
    margin-top: 5rem;
}

.post-thread-btn button {
    position: absolute;
    right: 0;
    width: 30rem;
    height: 4rem;
    background-color: var(--primarycolor);
    color: white;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.8rem;
}

/* Learner Thread Content */
