.thread-talent-detail {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

.thread-talent-detail-wrapper {
    width: 100%;
    padding: 10rem 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thread-content {
    width: 75%;
    height: fit-content;
}

/* Thread Content Heading */
.thread-content-heading {
    width: 100%;
    margin-bottom: 5rem;
}

.thread-content-heading h1 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.thread-content-heading h1 span {
    color: var(--primarycolor);
}
.thread-content-heading p {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 1rem;
    line-height: 2.5rem;
}
/* Thread Content Heading */

/* Thread Content Header */

.thread-content-header {
}
.thread-content-talent-wrapper {
    width: 100%;
    height: 20rem;
    background-color: var(--primarycolor);
    border-radius: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.thread-content-talent-main {
    display: flex;
    width: 100%;
    height: 100%;
}

.profile-talent {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.profile-talent-image-wrapper {
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-talent-image {
    width: 20rem;
    height: 100%;
    border-radius: 50%;
}

.profile-talent-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-talent-role-wrapper {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-talent-role {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    color: var(--primarycolor);
}

.talent-thread-content {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.talent-thread-name {
    width: fit-content;
}
.talent-thread-name h2 {
    font-size: 2.5rem;
    color: white;
}

.title_wrapper {
    width: 25%;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.title_wrapper h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}
.content {
    width: 75%;
    height: fit-content;
}
.content p {
    width: 200%;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 1%;
    color: white;
}

.talent-thread-description,
.talent-thread-offer {
    display: flex;
}

.talent-thread-description h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.talent-thread-description p {
    font-size: 1.6rem;
    color: white;
}

.talent-thread-offer h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.talent-thread-offer-detail {
    width: 100%;
    display: flex;
}

.talent-thread-offer-detail h4 {
    width: 20rem;
    font-weight: 100;
    font-size: 1.8rem;
    color: white;
}

.talent-thread-bottom-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-wrapper {
    display: flex;
    flex-direction: column;
}
.review-wrapper h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}
.review-wrapper p {
    width: 15rem;
    display: flex;
    font-size: 1.6rem;
    color: white;
    text-align: left;
    align-items: center;
}

.review-wrapper p span {
    margin: 0 0.5rem;
}

.review-wrapper p i {
    color: var(--orange);
}

.talent-thread-bottom-content p span {
    font-size: 1.6rem;
}
#rating {
    color: orange;
}

.chat-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15rem;
    height: 5rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.chat-btn:hover {
    transform: scale(1.02);
}

.chat-btn-wrapper h3 {
    font-family: "Baloo 2", cursive;
    color: var(--primarycolor);
    font-size: 1.6rem;
}
/* Thread Content Header */

/* Thread Content Main  */
.thread-content-main {
    width: 100%;
    height: fit-content;
}

.thread-content-main-wrapper {
    background-color: var(--primarycolor);
    padding: 3rem 4rem;
    border-radius: 0 0 1rem 1rem;
}

/* ----Thread Content Description */

.thread-content-description {
    width: 100%;
}
.thread-content-description h4 {
    font-size: 1.8rem;
    font-weight: 900;
    color: white;
}

.thread-content-description p {
    font-size: 1.6rem;
    color: white;
}
/* ----Thread Content Description */

/* ----Thread Content Package */
.thread-content-package {
    width: 100%;
    margin: 2rem 0;
}
.thread-content-package > h4 {
    font-size: 1.8rem;
    color: white;
    font-weight: 900;
}

.package-wrapper {
    width: 100%;
    padding: 0 2rem;
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
}

#checkbox-1 {
    position: relative;
    width: 100%;
}

.myPackage {
    width: 30rem;
    height: 35rem;
    border: 1px solid white;
    border-radius: 3rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.myPackage:hover {
    background-color: rgba(139, 138, 138, 0.4);
}

.myPackage:active {
    background-color: rgba(139, 138, 138, 0.4);
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    background-color: rgb(52, 52, 52);
    border-color: rgb(52, 52, 52);
    color: #fff;
    cursor: default;
    pointer-events: none;
}

.package-1 {
    background-color: red;
}

.package-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.package-title h2 {
    font-family: "Baloo 2", cursive;
    font-size: 1.8rem;
    color: white;
    font-weight: 900;
}

.package-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.package-description p {
    font-family: "Baloo 2", cursive;
    font-size: 1.6rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
}

.package-list {
    margin-bottom: 2rem;
}

.package-list ul {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.package-list ul li {
    width: 100%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.package-list ul li h4 {
    font-family: "Baloo 2", cursive;
    font-size: 1.6rem;
    color: white;
    font-weight: 100;
}

.package-price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-price h3 {
    font-family: "Baloo 2", cursive;
    font-size: 1.8rem;
    color: white;
    font-weight: 900;
}

.order-btn {
    width: 10%;
    height: 3.5rem;
    margin-right: 3rem;
    float: right;
}
.order-btn button {
    width: 100%;
    height: 100%;
    color: var(--deepblue);
    background-color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 10rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}
.order-btn:hover.order-btn button {
    background-color: rgb(209, 209, 209);
}
/* ----Thread Content Package */

/* ----Thread Content Ratings */
.thread-content-ratings {
    width: 30%;
    height: 10rem;
    margin: 5rem 0;
}

.thread-content-ratings h4 {
    width: 100%;
    height: 3rem;
    font-size: 1.8rem;
    color: white;
    font-weight: 900;
}

.thread-content-ratings-wrapper {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thread-content-ratings-wrapper > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thread-content-ratings-wrapper > div > h4 {
    font-size: 1.6rem;
    color: white;
    font-weight: 200;
}

.rating-icon {
    width: 8rem;
    text-align: center;
}
.rating-icon i {
    font-size: 1.6rem;
    color: var(--orange);
    font-weight: 900;
}
.rating-icon span {
    font-size: 1.6rem;
    color: var(--orange);
    font-weight: 900;
}

/* ----Thread Content Ratings */

/* ----Trhead Content Reviews */
.thread-content-reviews {
    width: 100%;
    height: fit-content;
}

.thread-content-reviews h4 {
    width: 100%;
    font-size: 1.8rem;
    color: white;
    font-weight: 900;
}
.thread-content-reviews h3 {
    width: 100%;
    font-size: 1.6rem;
    color: white;
    font-weight: 200;
}

.thread-content-reviews-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.review:nth-child(1) {
    display: inline-block;
}
.review:nth-child(2) {
    display: inline-block;
}

.review {
    position: relative;
    width: 40rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 2rem;
    margin: 1rem 2rem;
    display: none;
}
.review-time {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.review-time h4 {
    font-size: 1.4rem;
    font-weight: 200;
}

.review-content-wrapper {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
}

.reviewer-image-wrapper {
    width: 25%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
}
.reviewer-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.reviewer-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.reviewer-content {
    width: 75%;
    height: 100%;
}

.reviewer-name {
    width: 100%;
    padding-left: 1rem;
}

.reviewer-name h3 {
    font-size: 1.8rem;
    font-weight: 700;
}

.reviewer-description {
    width: 100%;
    padding-left: 1rem;
}

.reviewer-description p {
    font-size: 1.6rem;
    color: white;
}

.review-rating {
    width: 100%;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
}
.review-rating i {
    font-size: 1.6rem;
    color: var(--orange);
    font-weight: 900;
    margin-right: 0.5rem;
}
.review-rating span {
    font-size: 1.6rem;
    color: var(--orange);
    font-weight: 900;
}
.showMore-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}
#showMore {
    font-size: 1.8rem;
    width: 15%;
    background-color: white;
    color: var(--primarycolor);
    border-radius: 1rem;
}
#showMore:hover {
    background-color: rgba(255, 255, 255, 0.74);
}

/* ----Trhead Content Reviews */
/* Thread Content Main  */ ;
