.dealed-projects {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 10rem 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dealed-projects-wrapper {
    width: 75%;
    min-height: 100vh;
    height: fit-content;
}
/* ===================== Find Freelances Talents Header ====================== */
.dealed-projects-header {
    margin-bottom: 5rem;
}

.dealed-projects-header h1 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.dealed-projects-header h1 span {
    color: var(--primarycolor);
}

.dealed-projects-header p {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 1rem;
    line-height: 2.5rem;
}
/* ===================== Find Freelances Talents Header ====================== */

/* ===================== Find Freelances Talents Content ====================== */
.dealed-projects-content {
    height: fit-content;
}

.dealed-projects-content-wrapper {
    height: fit-content;
}

.project-links {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}
.active {
    margin-bottom: 25rem;
}
/* === Your project */
.your-project {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    justify-content: space-evenly;
    background-color: var(--light-grey-color2);
    box-shadow: 0.2rem 0.3rem 1rem rgb(0, 0, 0, 0.5);
}

.your-project > div {
    margin-bottom: 1rem;
}

.details-links {
    position: absolute;
    right: 2%;
    top: 5%;
    z-index: 200;
    color: var(--light-grey-color);
    font-size: 1.6rem;
    font-weight: 500;
}
.details-links:hover {
    color: var(--deepblue);
}

.project-title {
    width: 90%;
}
.project-title h3 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}
.project-description,
.offer-duration,
.offer-price {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.title_wrapper {
    width: 20%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.title_wrapper h3 {
    font-size: 1.6rem;
    font-weight: 500;
}
.content {
    width: 80%;
    height: fit-content;
    margin: 0;
    padding: 0;
}
.content h3 {
    width: 200%;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 1%;
}

.arrow {
    width: 10%;
    top: 50%;
    right: 0;
    position: absolute;
    z-index: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow i {
    font-size: 2rem;
    transition: transform 0.2s;
}
.your-project.change .arrow i {
    transform: rotate(90deg);
}

/* --- THREAD CONTENT LEARNER MAIN */
.thread-content-learner-main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.profile-learner {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.profile-learner-image-wrapper {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-learner-image {
    width: 20rem;
    height: 100%;
    border-radius: 50%;
}

.profile-learner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-learner-role-wrapper {
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-learner-role {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    color: var(--primarycolor);
}

/* --LEARNER THREAD CONTENT */

.learner-thread-content {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.learner-thread-name {
    width: fit-content;
}
.learner-thread-name h3 {
    font-size: 2rem;
    color: black;
}

.learner-thread-project-title {
    width: 100%;
    display: flex;
}

.title_wrapper {
    width: 25%;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.title_wrapper h3 {
    font-size: 1.6rem;
    font-weight: 500;
}
.content {
    width: 75%;
    height: fit-content;
}
.content p {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 1%;
}
.content ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.content ul li {
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 1%;
    background-color: var(--primarycolor);
    color: white;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

.learner-thread-project-description {
    width: 100%;
    display: flex;
}

.learner-thread-project-required-skills {
    width: 100%;
    display: flex;
}

.learner-thread-offer-detail {
    width: 100%;
    display: flex;
}

.learner-thread-offer-detail h3 {
    width: fit-content;
    font-weight: 100;
    font-size: 1.5rem;
    color: black;
    margin-right: 10%;
}

.learner-thread-bottom-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.talents-apply-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding-right: 2rem;
    justify-content: space-between;
}

.talents-apply-wrapper h3 span {
    font-weight: 900;
}
.talents-apply {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.7rem;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 0.5rem;
}

.view-appliers a {
    width: fit-content;
    color: black;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 0.5rem;
    border-radius: 0.7rem;
}
/* === Your project */

/* === Accepted Freelances Talents */

.accepted-freelances-talents {
    width: 95%;
    height: 100%;
    background-color: var(--primarycolor);
    float: right;
    box-shadow: 0.2rem 0.3rem 1rem rgb(0, 0, 0, 0.5);
    position: relative;
    display: none;
}

.active .accepted-freelances-talents {
    display: block;
}

.freelances-talents-data {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.applier-role {
}
.appliers-picture {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.appliers-picture-wrapper {
    width: 80%;
    height: 90%;
}
.appliers-picture-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.appliers-data {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.appliers-name {
    width: 80%;
}
.appliers-name h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}

/* APPLIERS OFFERED PRICE */
.appliers-offered-price {
    width: 80%;
    display: flex;
}
.title_wrapper_applier {
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.title_wrapper_applier h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}
.content_applier {
    width: 80%;
    height: fit-content;
}
.content_applier h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    margin-left: 1%;
}
/* APPLIERS OFFERED PRICE */

/* APPLIERS OFFERED DESCRIPTION */
.appliers-offered-description {
    width: 80%;
}
.title_wrapper_applier_description {
    width: 27.2%;
    display: flex;
    justify-content: space-between;
}
.title_wrapper_applier_description h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}
.content_applier_description {
    width: 100%;
    height: fit-content;
}
.content_applier_description h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    margin-left: 1%;
}
/* APPLIERS OFFERED DESCRIPTION */

.appliers-documents {
    width: 80%;
}

.title_wrapper_applier_document {
    width: 27.2%;
    display: flex;
    justify-content: space-between;
}
.title_wrapper_applier_document h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}

.appliers-documents ul {
    display: flex;
}
.appliers-documents ul li {
    margin-right: 1rem;
}
.appliers-documents ul li a {
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
}

.chat-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    width: 10rem;
    height: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
.chat-btn a {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primarycolor);
}

/* === Accepted Freelances Talents */
/* ===================== Find Freelances Talents Content ====================== */
