.topic-course-detail {
    width: 100%;
    height: fit-content;
}

.topic-course-detail-wrapper {
    width: 100%;
}

/* Topic Course Detail Header */
.topic-course-detail-header {
    width: 100%;
    padding: 0;
    background-color: rgb(209, 209, 209);
    padding: 8rem 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-left {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left > div {
    margin: 0 3rem;
}

.topic-course-detail-image {
    width: 20%;
}

.topic-course-detail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.topic-course-detail-heading-content {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.topic-course-detail-heading-content > h1,
.topic-course-detail-heading-content > h2,
.topic-course-detail-heading-content > h3,
.topic-course-detail-heading-content > div {
    margin: 0.5rem 0;
}

.topic-course-detail-heading {
    font-family: "Roboto";
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: black;
}

.topic-course-detail-description {
    font-family: "Roboto";
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--light-grey-color);
    /* line-height: 2.5rem; */
}

.topic-course-detail-category ul {
    display: flex;
    flex-wrap: wrap;
}
.topic-course-detail-category ul li {
    width: max-content;
    height: max-content;
    color: #df9627;
    background-color: transparent;
    border: 1px solid #df9627;
    border-radius: 10rem;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.topic-course-detail-author {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--light-grey-color);
}
.topic-course-detail-author a {
    color: var(--light-grey-color);
    text-decoration: underline;
    font-weight: 500;
}

.topic-course-detail-rating {
    display: flex;
    align-items: center;
}

.topic-course-detail-rating i {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: #df9627;
}

.topic-course-detail-rating h4 {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #df9627;
    font-weight: 800;
}

.topic-course-detail-price {
    font-family: "Roboto";
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    color: var(--blue2);
}

.header-right {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-right > a {
    width: 80%;
    height: 5rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.add-to-cart-btn {
    background-color: white;
}
.add-to-cart-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.add-to-cart-btn h2 {
    color: var(--primarycolor);
}

.buy-btn {
    background-color: var(--primarycolor);
}
.buy-btn:hover {
    background-color: var(--blue2);
}
.buy-btn h2 {
    color: white;
}

/* Topic Course Detail Header */

/* Topic Course Detail Content */
.topic-course-detail-content {
    width: 100%;
    /* height: 60%; */
    padding: 10rem 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.topic-course-detail-content > div {
    margin: 2rem 0;
}

.topic-course-detail-content > div > h2 {
    font-family: "Roboto";
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
}

.topic-course-detail-content-description {
    width: 100%;
    height: 30%;
}

.topic-course-detail-content-description p {
    font-size: 2rem;
    color: var(--light-grey-color);
    text-align: justify;
}

.topic-course-detail-content-goals {
    width: 100%;
    height: 30%;
}

.topic-course-detail-content-goals ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.topic-course-detail-content-goals ul li {
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: var(--light-grey-color);
}
.topic-course-detail-content-goals ul li i {
    font-size: 0.8rem;
    margin-right: 0.8rem;
    color: var(--light-grey-color);
}

.topic-course-detail-content-video {
    width: 100%;
    border: 0.5px solid var(--light-grey-color);
    padding: 5rem;
}

.content-video-wrapper {
}

.content-video-chapter {
    width: 100%;
}

.content-video-chapter:first-child .content-video-chapter-title {
    border-top: 0.1px solid var(--light-grey-color);
    border-bottom: none;
}
.content-video-chapter:last-child .content-video-chapter-title {
    border-top: none;
}

.content-video-chapter-title {
    width: 100%;
    height: 5rem;
    background-color: var(--light-grey-color2);
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 0.1px solid var(--light-grey-color);
    justify-content: space-between;
}

.active .content-video-chapter-title {
    border-bottom: none;
}

.content-video-chapter-title h2 {
    font-size: 2rem;
}

.content-video-chapter-title h2 i {
    font-size: 1.5rem;
    margin: 0 2rem;
    transition: transform 0.5s;
    transform: rotate(90deg);
}

.content-video-chapter-title h3 {
    margin-right: 5rem;
    font-size: 1.5rem;
}

.content-video-chapter:first-child .content-video-chapter-list {
    border-bottom: none;
}

.content-video-chapter-list {
    width: 100%;
    height: fit-content;
    display: none;
}

.content-video-chapter-list ul {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.content-video-chapter-list ul li {
    font-size: 1.8rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.content-video-chapter-list ul li h3 {
    width: 5rem;
    font-size: 1.5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-video-chapter-list ul li a {
    color: black;
}
.content-video-chapter-list ul li a i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.active .content-video-chapter-list {
    display: block;
    border: 1px solid var(--light-grey-color);
}

.change #arrow-chapter {
    transform: rotate(-90deg);
}

/* Topic Course Detail Content */

/* Topic Course Detail Forum */
.topic-course-detail-forum {
    width: 100%;
    padding: 0rem 35rem;
    height: fit-content;
}
.forum-header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.forum-header h1 {
    font-family: "Baloo 2", cursive;
    font-size: 3.5rem;
}

.ask-forum {
    width: 100%;
    height: fit-content;
    margin-bottom: 10rem;
    display: flex;
    border-radius: 1rem;
    background-color: var(--light-grey-color2);
}

.forum-form {
    width: 100%;
}

.profile-image-wrapper {
    width: 15%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.profile-image {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-askers-name {
    width: fit-content;
    margin: 1rem 0;
}

.profile-askers-name h2 {
    font-size: 1.8rem;
    color: var(--deepblue);
}

.forum-form {
    width: 85%;
    padding: 1rem 2rem 1rem 0;
}

.forum-form > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.ask-forum-title {
    height: 6rem;
}

.ask-forum-title label {
    font-size: 1.8rem;
    color: black;
    font-weight: 700;
}

.ask-forum-title input {
    font-family: "Baloo 2", cursive;
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.ask-forum-description {
    height: fit-content;
}

.ask-forum-description label {
    font-size: 1.8rem;
    color: black;
    font-weight: 700;
}

.ask-forum-description textarea {
    font-family: "Baloo 2", cursive;
    font-size: 1.5rem;
    max-width: 100%;
    min-width: 100%;
    min-height: 10rem;
    max-height: 50rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.ask-forum-description textarea:focus {
    border: 1px solid white;
}

.post-btn {
    font-family: "Baloo 2", cursive;
    width: 20rem;
    height: 3.5rem;
    background-color: var(--primarycolor);
    color: white;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border: none;
    border-radius: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    font-weight: 900;
}

.forum-posts {
    width: 100%;
}

.forum {
    width: 100%;
    height: 15rem;
    background-color: var(--light-grey-color2);
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem 0;
}

.forum-images-wrapper {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forum-images {
    width: 15rem;
    height: 100%;
    border-radius: 50%;
}

.forum-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.forum-content-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forum-askers h2 {
    font-size: 1.8rem;
    color: var(--deepblue);
}

.forum-title {
    width: 100%;
}

.forum-title h2 {
    font-size: 2.5rem;
}

.forum-description {
    width: 100%;
}

.forum-description p {
    font-size: 1.8rem;
}

.forum-reaction {
    display: flex;
    margin-top: 1rem;
}

.forum-reaction > div {
    width: 15rem;
    display: flex;
    font-size: 1.5rem;
    margin: 0 1rem 0 0;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
    color: var(--light-grey-color);
}

.forum-reaction > div > i {
    color: black;
}

.forum-reaction > div > span {
    margin: 0 0.5rem;
    font-weight: 900;
}

.forum-reply-wrapper {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply-btn {
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue2);
    border-radius: 1rem;
    transition: background-color 0.2s;
}

.reply-btn:hover {
    background-color: var(--deepblue);
}

.reply-btn h2 {
    font-size: 2rem;
    color: white;
    letter-spacing: 0.1rem;
}

/* Topic Course Detail Forum */

/* Another Topic Course */
.another-topic-course {
    width: 100%;
    padding: 0rem 35rem;
}

.another-topic-course-header {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
}
.another-topic-course-header h2 {
    height: 100%;
    font-family: "Roboto";
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topic-course-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
}

.topic-course-item {
    width: 100%;
    height: 20rem;
    border-radius: 2rem;
    transition: background-color 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1rem 0;
    cursor: pointer;
    display: flex;
}
.topic-course-item:hover {
    background-color: rgb(209, 209, 209);
}

.topic-course-image {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-course-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topic-course-text-content {
    width: 50%;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic-course-text-content > h2,
.topic-course-text-content > h3,
.topic-course-text-content > div {
    margin: 0.6rem 0;
}

.topic-course-title {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: black;
}
.topic-course-category ul {
    display: flex;
    flex-wrap: wrap;
}
.topic-course-category ul li {
    width: max-content;
    height: max-content;
    color: #df9627;
    background-color: transparent;
    border: 1px solid #df9627;
    border-radius: 10rem;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.topic-course-author {
    font-size: 1.5rem;
    color: var(--light-grey-color);
    margin-bottom: 0.5rem;
}

.topic-course-rating {
    display: flex;
    align-items: center;
}

.topic-course-rating i {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: #df9627;
}

.topic-course-rating h4 {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #df9627;
    font-weight: 800;
}

.topic-course-price {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    color: var(--primarycolor);
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(71, 71, 71, 0.5);
}
/* Another Topic Course */
